a.btn {
    text-decoration: none !important;
}

#provider-information {
    display: none;
}

ul.provider-links {
    list-style-type: none;
    margin: 0 0 15px !important;
    padding: 0;
    border: 1px solid #ccc;
    background: #eee;
}

ul.provider-links:after {
    content: "";
    display: table;
    clear: both;
}

ul.provider-links li {
    display: inline-block;
    float: left;
}

ul.provider-links li a {
    display: block;
    padding: 8px;
    text-decoration: none !important;
    box-shadow: none !important;
    border-right: 1px solid #ccc;
    font-size: 75%;
    color: #000;
}

ul.provider-links li a:hover {
    color: #000;
}

ul.provider-links li a.selected {
    background-color: #ddd;
}

#wasnap-entry-title {
    display: none;
}

button.btn {
    text-transform: none;
}

.wasnap-more {
    display: none;

}

.wasnap-toggle-more {
    cursor: pointer;
	height: auto;
}

.panel .panel-heading h3.panel-title {
    margin-bottom: 5px !important;
	display: none;
}

.panel .panel-heading p {
    margin-bottom: 5px !important;
	
}

.panel .panel-body p {
    margin-bottom: 15px !important;

}

.wasnap-sticky td.title a {
    font-weight: bold;
}

.wasnap-topics small {
    font-size: 60%;
}

.img-responsive {
    max-width: 100%;
}

#wasnap {
    background-color: none;
 
}

.wasnap	{
	background-color: transparent;
	
	
	
}

.btn-edit  {
	background-color: #76bf28;
	
	
}
